<div class="row">
  <div class="col s12">
    <div class="card-panel white">

      <div class="biz-header">
        <h2><%= biz.name %></h2>
        <img class='rating' src="<%= biz.rating_img_url_large %>" alt="average-rating" />
      </div>

      <div class="biz-details">
        <h5><%= "#{biz.location.address[0]}, #{biz.location.city}" %></h5>
      </div>

      <div class="inspection-results">
        <h5>Latest Inspection Results</h5>
        <%= erb :'businesses/_inspection_results', locals: {inspection_report: inspection_report} %>
      </div>

    </div>
  </div>
</div>
