body {
  background-image: url('../images/cubes.png');
  background-repeat: repeat;
}

.biz-header {
  display: flex;
  justify-content: space-around;;
  align-items: center;
}

.biz-details {
  display: flex;
  justify-content: center;
}

.yelp-link {
  display: flex;
  justify-content: center;
}

div.footer {
    width: 300px;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
}
