<h5 class="center">Search for a restuarant or by keywords</h5>

<div class="center">
  <form id="search-form" class="center" action="/searches" method="get">
    <input type="text" class="search-field" name="search_term" value="">
    <button class="btn-flat red darken-2 waves-effect waves-light search-btn white-text" type="submit" name="action">
      <i class="material-icons right">search</i>
    </button>
  </form>
</div>

<h5 id="search-status" class="center"></h5>

<div id="search-list" class="center" style="display:none;">
