<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <title></title>
</head>
<body>
  <nav class="red darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Yum Or Yuck</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/adnamalin/yum-or-yuck">Github</a></li>
      </ul>
    </div>
  </nav>
  <%= yield %>
  <div class="footer">
    <footer><a href="https://www.yelp.com/developers/documentation/v2/overview">Yelp API</a> &amp; <a href="https://dev.socrata.com/foundry/data.cityofchicago.org/cwig-ma7x">Chicago API</a></footer>
  </div>
</body>
</html>
