<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <title>Yum Or Yuck</title>
</head>
<body>
  <nav class="red darken-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center"><img class="logo" src="/images/yumoryucklogo.png" alt="logo"/></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/adnamalin/yum-or-yuck" target="_blank" >Github</a></li>
        <li><a href="https://www.yelp.com/developers/documentation/v2/overview" target="_blank">Yelp API</a></li>
        <li><a href="https://dev.socrata.com/foundry/data.cityofchicago.org/cwig-ma7x" target="_blank" >Chicago API</a></li>
      </ul>
    </div>
  </nav>
  <%= yield %>
</body>
</html>
